attr==0.3.2
ConfigParser==7.2.0
cryptography==45.0.5
Cython==3.1.2
dl==0.1.0
docutils==0.21.2
einops==0.8.1
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
jaxtyping==0.3.2
jnius==1.1.0
keyring==25.6.0
numpy==2.3.1
ordereddict==1.1
protobuf==6.31.1
psutil==7.0.0
pyOpenSSL==25.1.0
pytest==8.4.1
redis==6.2.0
Sphinx==8.2.3
thread==2.0.5
tiktoken==0.9.0
torch==2.7.1
urllib3_secure_extra==0.1.0
win32com==0.0.1
xmlrpclib==1.0.1
